{
 :sudoers/defaults #{

 }

 :sudoers/commands #{
   {
    :command/group :service
    :command/binary "/usr/sbin/service"
    :command/args [
      #{[:arg "ssh"] [:arg "docker-compose@elasticsearch"]} 
      #{[:arg "stop"] [:arg "start"] [:arg "restart"] [:arg "status"]}]
   }{
    :command/group :virtual
    :command/binary "/usr/bin/lxd"
    :command/args [[:arg "init"] [:flag "--auto"]]
   }{
    :command/group :package
    :command/binary "/usr/bin/dpkg"
    :command/args [[:flag "-i"] #{[:file "bat_0.12.1_amd64.deb"] [:file "osquery_3.3.2_1.linux.amd64.deb"]}]
   }
   {
    :command/group :exec
    :command/binary "/usr/sbin/visudo"
   }
 }


 :sudoers/users #{
   {:user/name "re-ops" :command/groups #{:virtual} :tags #{"NOPASSWD"}}
   {:user/name "%wheel" :command/groups #{:exec} :tags #{"EXEC"}}
 }
}
