#{
  {:default "nonexec"}

  {:default "ignore_unknown_defaults"}

  {:group :service :binary "/usr/sbin/service"
    :args [#{[:arg "ssh"] [:arg "docker-compose@elasticsearch"]}
           #{[:arg "stop"] [:arg "start"] [:arg "restart"] [:arg "status"]}]}

  {:group :virtual :binary "/usr/bin/lxd"
    :args [[:arg "init"] [:flag "--auto"]]}

  {:group :package :binary "/usr/bin/dpkg"
    :args [[:flag "-i"] #{[:file "bat_0.12.1_amd64.deb"] [:file "osquery_3.3.2_1.linux.amd64.deb"]} ]}

  {:group :exec :binary "/usr/sbin/visudo" }

  {:user "re-ops" :groups #{:virtual} :tags #{"NOPASSWD"}}

  {:user "%wheel" :groups #{:exec} :tags #{"EXEC"}}
}
